{{define "script"}}

<script>
    let offset = 0;
    const limit = 10;

    async function loadMoreData() {
        const response = await fetch(`/api/permits?limit=${limit}&offset=${offset}`);
        const data = await response.json();
        const tableBody = document.getElementById('table-body');

        data.forEach(permit => {
            const row = document.createElement('tr');
            row.innerHTML = `
                    <td>${permit.ID}</td>
                    <td>${permit.PermitID}</td>
                    <td>${permit.CompanyName}</td>
                    <td>${permit.Reference}</td>
                    <td>${permit.DateReceived}</td>
                    <td>${permit.DateDue}</td>
                    <td>${permit.Owner}</td>
                    <td>${permit.Status}</td>
                `;
            tableBody.appendChild(row);
        });

        offset += limit;
    }

    window.addEventListener('scroll', () => {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            loadMoreData();
        }
    });

    // Initial load
    loadMoreData();
</script>

{{end}}